body {
    text-align: center;
    background-color: tan;
}

div.container {
    text-align: center;
}

ul.containerUl  {
    display:inline-block;
    text-align: left;
}

fieldset {
    border: 0;
}